# 使用语言
language: node_js

# nodejs 版本号
node_js: "lts/*"

# 缓存
cache:
  directories:
    - "$HOME/.npm"

# 安装依赖的命令
install: npm ci

# 每次推送后需要执行的脚本
script: 
  - hexo clean
  - hexo generate

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: public
  fqdn: hexo.f00bar.top
  on:
    branch: hexo
